<template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative ph3 pv3 pv6-ns signup">

      <form class="db w-100 mw6-ns center"
          @submit.prevent="submit()"
        >
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f2 f-subheadline-l fw5 measure lh-title navy">
            Get Started
          </legend>
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy">Add a profile picture</label>
            <div class="dib w-100 relative">
              <picture-input
                height="140"
                width="140"
                ref="pictureInput"
                accept="image/jpeg,image/png,image/gif"
                radius="100"
                size="10"
                buttonClass="dib relative ph3 pv2 w-auto f7 fw5 bg-transparent ba b--black-20 mb2"
                :customStrings="{
                upload: '<h1>Bummer!</h1>',
                drag: 'Drag a photo or click/tap 😏'}"
                @change="pictureChange"
              >
              </picture-input>
            </div>
            <small class="db f7 lh-copy black-60 mt2">
              Your profile picture helps you stand out and get credibility. If anything add a picture of your cat!
            </small>
          </div>
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="username">Username</label>
            <input
              v-validate="{
                required: true,
                min: 4,
                max: 16,
                regex: /^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$/
              }"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('username') }"
              name="username"
              type="text"
              placeholder="ex: catsarelife"
              v-model="credentials.username"
            >
            <div v-show="errors.has('username')" class="db f7 lh-copy red mt2">
              Enter an all lowercase username between 4-16 characters! 🙏
            </div>
          </div>
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="email">Email</label>
            <input
              v-validate="'required|email'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('email') }"
              name="email"
              type="email"
              placeholder="ex: hello@cryptogigs.co"
              v-model="credentials.email"
            >
            <div v-show="errors.has('email')" class="db f7 lh-copy red mt2">
              I guess... we need your email... 😟
            </div>
          </div>
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="password">Password</label>
            <input
              v-validate="'required|min:6'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('password') }"
              name="password"
              type="password"
              placeholder="123456 could work too... i mean..."
              v-model="credentials.password"
            >
            <div v-show="errors.has('password')" class="db f7 lh-copy red mt2">
              6 characters minimum for your password please! 😱
            </div>
          </div>
          <!-- <label class="pa0 ma0 lh-copy f6 pointer"><input type="checkbox"> Remember me</label> -->
        </fieldset>

        <div class="db relative mv3">
          <button class="f5 b ph4 pv3 bg-light-green br3 pointer link shadow-light navy hover-blue grow" type="submit" :disabled="disableForm || errors.items.length > 0">
            Continue
          </button>
          <pre>
          </pre>
        </div>

        <div class="lh-copy mt4 gray">
          <router-link to="signup" class="f6 link dim gray dib v-mid underline">Sign up</router-link>
          &nbsp;//&nbsp;
          <router-link to="forgot" class="f6 link dim gray dib v-mid underline">Forgot your password?</router-link>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import PictureInput from 'vue-picture-input'
import firebase from 'firebase'

export default {
  name: 'signup',
  components: { PictureInput },
  data () {
    return {
      disableForm: false,
      credentials: {
        username: '',
        email: '',
        password: ''
      },
      loggingIn: false
    }
  },
  created () {
    if (this.$route.query && this.$route.query.email) {
      this.credentials.email = decodeURIComponent(this.$route.query.email)
    }
  },
  methods: {
    pictureChange () {
      console.log('New picture selected!')
      if (this.$refs.pictureInput.image) {
        console.log('Picture loaded.')
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.disableForm = true
          const creds = {
            username: this.credentials.username,
            email: this.credentials.email,
            password: this.credentials.password
          }
          // this.$refs.pictureInput.image (Base64 Data URI string) or this.$refs.pictureInput.file for file object
          const file = this.$refs.pictureInput.file

          // Check if username is taken
          firebase.firestore()
          .collection('users')
          .doc(this.credentials.username)
          .get()
          .then((response) => {
            console.log(response)
            if (response.exists) {
              this.$modal.show('dialog', { title: 'Oh bugger...', text: `This username is taken try something else!` })
              this.disableForm = false
              this.loggingIn = false
            } else {
              // Complete signup
              this.$auth.signup(creds, file, 'home')
              .then((response) => {
                // console.log(response)
              })
              .catch((error) => {
                console.log(error)
                this.disableForm = false
                this.loggingIn = false
                // this.error = utils.getError(response)
                this.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message ${error}` })
              })
            }
          })
        }
      })
    }
  }
}
</script>