<template>
  <div class="dib relative w-100 view">

    <empty v-if="loaded && !gig || loaded && gig === {}"
      title="No posts... 🕵️"
      description="Looks like we're having some problems loading posts or by some off chance all posts have been removed then there are indeed no posts."
      ctaRoute="create"
      ctaText="Psstt.. you can create a post here... don't tell anyone 🤐">
    </empty>
    
    <div class="dib w-100 relative pv3 pt6-ns pb5-ns" v-if="loaded">
      
      <div class="db center relative w-100 mw8-ns ph3 flex-ns"> 
        <div class="dib w-100 w-40-ns v-top fl-ns">
          <div class="dib w-100 h-100 relative gig-image">
            <span class="absolute top-0 left-0 bg-washed-green ph2 pv1 br-pill black f7 fw5 ttu ma3"">
              {{ gig.offer.type }}
            </span>
            <img :src="gig.image" class="dib w-100" alt="gig.title" v-if="gig.image" />
            <img :src="PlaceholderImage" class="dib w-100" alt="gig.title" v-else />
          </div>
        </div>

        <div class="dib w-100 w-60-ns v-top fr-ns bg-washed-green-ns">
          <div class="dib w-100 relative pv3 pa5-ns">
            <div class="dib w-100 relative">

              <h1 class="f2 f-subheading-l dib relative w-100 mv0">
                {{ gig.title }}
              </h1>
              <p class="dib w-100 relatove f6 fw5 tracked mv3 mv4-ns gray ttu">
                {{ gig.offer.cost === '0' || !gig.offer.cost ? 'Free' : gig.offer.cost }} {{ gig.offer.currency }}/{{ gig.offer.per }}
              </p>
              <p class="f6 f5-ns lh-copy mv0 dark-gray pr3-ns">
                {{ gig.description }}
              </p>

              <div class="dib w-100 relative mv4">
                <div v-if="myGig">
                  <router-link class="dib link relative w-auto v-mid ph2 ph3-l pv1 pv2-l f6 b br-pill navy hover-blue ba bw1 mr2 bg-transparent" :to="{ name: 'profile', params: { username: gig.op.username } }">
                    View my profile
                  </router-link>
                  <button class="dib link relative w-auto v-mid ph2 ph3-l pv1 pv2-l f6 b br-pill navy hover-blue ba bw1 bg-transparent pointer" @click="deletePost()">
                    Delete post
                  </button>
                </div>
                <div class="dib w-100 relative" v-else>
                  <router-link class="dib link w-auto bg-washed-green bg-white-ns ph3 ph4-l pv2 pv3-l f5 b br-pill navy hover-blue shadow-light" :to="{ name: 'user chat', params: { username: gig.op.username } }">
                    Send a message
                  </router-link>
                </div>
              </div>

              <div class="dib w-100 relative">
                <router-link class="dib relative w-100 navy link dim" :to="{ name: 'profile', params: { username: gig.op.username } }">
                  <span class="dib relative v-mid mr3">
                    <img :src="gig.op.photoURL" class="br-100 h2 w2 h3-ns w3-ns db" v-if="gig.op.photoURL && gig.op.photoURL !== ''" />
                    <img :src="PlaceholderImage" class="br-100 h2 w2 h3-ns w3-ns db" v-else />
                  </span>
                  <span class="dib w-50 relative v-mid">
                    <span class="dib w-100 relative navy f5 f4-ns fw5">
                      @{{ gig.op.username }}
                    </span>
                    <span class="dib w-100 relative gray f7 f6-ns fw4 mt2">
                      {{ !gig.op.location ? 'No location' : gig.op.location }}
                    </span>
                  </span>
                </router-link>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="db center relative w-100 mw8-ns ph3">
        <div class="dib w-100 relative mt3">
          <social-sharing
            :url="shareURL"
            :title="gig.title"
            :description="gig.description"
            :quote="gig.description"
            :media="gig.photoURL"
            hashtags="cryptogigs,btc,eth,xrp"
            twitter-user="cryptogigs"
            inline-template
          >
            <div>
              <span class="dib relative v-mid f6 fw5 dark-gray mr2">
                Share this post:
              </span>
              <network network="email" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Email
              </network>
              <network network="facebook" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Facebook
              </network>
              <network network="googleplus" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Google +
              </network>
              <network network="linkedin" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                LinkedIn
              </network>
              <network network="pinterest" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Pinterest
              </network>
              <network network="reddit" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Reddit
              </network>
              <network network="twitter" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Twitter
              </network>
              <network network="vk" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                VK
              </network>
              <network network="weibo" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                Weibo
              </network> 
              <network network="whatsapp" class="div relative v-mid link dim f6 fw4 underline gray pointer hover-blue">
                Whatsapp
              </network>
            </div>
          </social-sharing>
        </div>
      </div>
    </div>

    <div class="dib w-100 relative pv6-ns" v-else>
      <div class="db center relative w-100 mw8-ns ph3">
        <div class="dib w-100 relative pv3 tc">
          <div class="db center relative w-100 w-30-ns">
            <div class="placeholder placeholder--dark pv6">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Empty from './../common/Empty.vue'
import PlaceholderImage from './../../assets/images/placeholder.png'
import firebaseConfig from './../../firebaseConfig'

export default {
  name: 'view',
  components: { Empty },
  data () {
    return {
      PlaceholderImage,
      shareURL: 'https://cryptogigs.co/',
      loaded: false,
      myGig: false,
      gig: {}
    }
  },
  created () {
    window.scrollTo(0, 0)
    this.$Progress.start()
    this.getGig()
    this.log()
  },
  methods: {
    getGig () {
      if (this.$route.params.id) {
        firebaseConfig.firebase.posts.doc(this.$route.params.id).get()
        .then((post) => {
          if (post.exists) {
            this.gig = post.data()
            setTimeout(() => {
              this.loaded = true
              this.$Progress.finish()
            }, 250)
            // generate share url
            this.getShareURL()
            // check if it's my item
            this.checkMyGig()
          } else {
            this.goHome()
          }
        })
        .catch((error) => {
          console.log(error)
          this.loaded = true
          this.$Progress.finish()
        })
      } else {
        this.goHome()
      }
    },
    getShareURL () {
      const url = `${window.location}`
      this.shareURL = url
      return url
    },
    checkMyGig () {
      if (this.$store.state.user) {
        if (this.$store.state.user.uid === this.gig.op.uid) {
          this.myGig = true
        }
      }
    },
    deletePost () {
      this.$modal.show('dialog', { title: 'Are you sure...', text: `You're about to delete this post! This cannot be undone (probably)... Be careful...`, buttons: [{ title: 'Continue', handler: () => this.deleteConfirm() }, { title: 'Cancel' }] })
    },
    deleteConfirm () {
      firebaseConfig.firebase.posts.doc(this.$route.params.id)
      .set({
        disabled: true
      }, {
        merge: true
      })
      this.$modal.hide('dialog')
      setTimeout(() => {
        this.$router.push({
          name: 'home'
        })
      }, 250)
    },
    goHome () {
      this.$router.push({
        name: 'home'
      })
    },
    log () {
      this.$ga.event({
        eventCategory: 'view',
        eventAction: 'gig_view',
        eventLabel: 'gig_id',
        eventValue: this.$route.params.id
      })

      this.$root.$on('social_shares_open', (network, url) => {
        this.$ga.event({
          eventCategory: 'share',
          eventAction: 'gig_share',
          eventLabel: network,
          eventValue: url
        })
      })
    }
  }
}
</script>\