<template>
  <div class="dib relative w-100 view">

    <empty v-if="loaded && !gig || loaded && gig === {}"
      title="No posts... 🕵️"
      description="Looks like we're having some problems loading posts or by some off chance all posts have been removed then there are indeed no posts."
      ctaRoute="create"
      ctaText="Psstt.. you can create a post here... don't tell anyone 🤐">
    </empty>
    
    <div class="dib w-100 relative pv3 pt6-l pb5-l" v-if="loaded">
      <div class="db center relative w-100 mw8-l ph3">
        <div class="dib w-100 relative pa0 pa5-l shadow-view overflow-hidden br2">

          <div class="dib w-100 h-100 relative gig-image">
            <span class="absolute top-0 left-0 ph2 pv1 br3 f7 b ttu ma3" :class="[ gig.offer.type === 'offering' ? 'bg-lightest-blue navy' : 'bg-light-purple white' ]">
              {{ gig.offer.type }}
            </span>
            <img :src="gig.image" class="dib w-100" alt="gig.title" v-if="gig.image" />
            <img :src="PlaceholderImage" class="dib w-100 h5" alt="gig.title" v-else />
          </div>

          <div class="dib w-100 relative mv3">
            <social-sharing
              :url="shareURL"
              :title="gig.title"
              :description="gig.description"
              :quote="gig.description"
              :media="gig.image"
              hashtags="cryptogigs,btc,eth,xrp"
              twitter-user="cryptogigs"
              inline-template
            >
              <div>
                <span class="dib relative v-mid f6 fw5 dark-gray mr2">
                  Share this post:
                </span>
                <network network="email" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  Email
                </network>
                <network network="facebook" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  Facebook
                </network>
                <network network="linkedin" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  LinkedIn
                </network>
                <network network="pinterest" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  Pinterest
                </network>
                <network network="reddit" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  Reddit
                </network>
                <network network="twitter" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  Twitter
                </network>
                <network network="vk" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  VK
                </network>
                <network network="weibo" class="div relative v-mid link dim f6 fw4 underline gray mr2 pointer hover-blue">
                  Weibo
                </network> 
                <network network="whatsapp" class="div relative v-mid link dim f6 fw4 underline gray pointer hover-blue">
                  Whatsapp
                </network>
              </div>
            </social-sharing>
          </div>

          <div class="dib w-100 relative mt3">
            <div class="dib w-100 w-60-l relative pr4-l fl-l">
              <h1 class="f2 f-subheading-l dib relative w-100 mv0">
                {{ gig.title }}
              </h1>
              <p class="dib w-100 relative f6 fw5 tracked mt3 mb0 gray ttu">
                {{ gig.offer.cost === '0' || !gig.offer.cost ? 'Free' : gig.offer.cost }} {{ gig.offer.currency }}/{{ gig.offer.per }}
              </p>
              <p class="f6 f5-l lh-copy mv0 dark-gray pr3-l">
                {{ gig.description }}
              </p>
            </div>

            <div class="dib w-100 w-40-l relative fr-l pl4-l">
              <div class="dib w-100 relative tl tc-l pv4 pa4-l br3 ba-l b--black-10">
                
                <router-link class="dib relative w-100 navy link dim" :to="{ name: 'profile', params: { username: gig.op.username } }">
                  <span class="dib w-40-l relative v-mid pr2 pr0-l mb0 mb3-l">
                    <img :src="gig.op.photoURL" class="br-100 h3 w3 db center-l" v-if="gig.op.photoURL && gig.op.photoURL !== ''" />
                    <img :src="PlaceholderImage" class="br-100 h3 w3 db center-l" v-else />
                  </span>
                  <span class="dib w-60-l relative v-mid">
                    <span class="dib w-100 relative navy f4 fw5 truncate overflow-hidden">
                      @{{ gig.op.username }}
                    </span>
                    <span class="dib w-100 relative gray f7 f6-l fw4 mt0 truncate overflow-hidden">
                      {{ !gig.op.location ? 'No location' : gig.op.location }}
                    </span>
                  </span>
                </router-link>

                <div class="dib w-100 relative mt4 tl tc-l" v-if="myGig">
                  <router-link class="dib db-l center-l link relative w-auto w-60-l v-mid ph2 ph3-l pv1 pv2-l f6 b br3 navy hover-blue ba bw1 bg-transparent pointer mr2 mh0-l mb3-l" :to="{ name: 'profile', params: { username: gig.op.username } }">
                    View my profile
                  </router-link>
                  <button class="dib db-l center-l link relative w-auto w-60-l v-mid ph2 ph3-l pv1 pv2-l f6 b br3 navy hover-blue ba bw1 bg-transparent pointer" @click="deletePost()">
                    Delete post
                  </button>
                </div>
                <div class="dib w-100 relative mt4 tl tc-l" v-else>
                  <router-link class="dib link dim w-auto bg-light-green ph3 pv2 f6 b br3 navy" :to="{ name: 'user chat', params: { username: gig.op.username } }">
                    Send a message
                  </router-link>
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="dib w-100 w-60-l relative pv3 ph5-l">
          <p class="f7 f6-l fw5 tracked ttu dark-gray mb0">
            Comments
          </p>
          <empty
            v-if="!comments || comments.length === 0"
            title="No comments... 🙊"
            description="Either the trolls have spoken and comments were removed OR much more likely there are no comments..."
            ctaRoute="terms"
            ctaText="Now would be a good time to read our terms of service! 🤓">
          </empty>
          <ul class="dib w-100 relative list ph0 pt0 mh0 overflow-auto comments" v-else>
            <li class="f5 dib w-100 relative pv2" v-for="(comment, index) in comments" :key="index">
              <router-link class="dib w-auto v-mid navy link dim b" :to="{ name: 'profile', params: { username: comment.user.username } }">
                <span class="dib w-auto relative v-mid mr2">
                  <img :src="comment.user.photoURL" class="br-100 w2 h2 db tc" v-if="comment.user.photoURL" />
                  <img :src="PlaceholderImage" class="br-100 w2 h2 db tc" v-else />
                </span>
                <span class="dib w-auto relative v-mid">
                  {{ comment.user.username }} {{ comment.user.username === myUsername ? '(me)' : null }}:
                </span>
              </router-link>
              <span class="dib w-auto v-mid gray">
                {{ comment.message }}
              </span>
            </li>
          </ul>
          <form class="dib w-100 relative" @submit.prevent="addComment()">
            <div class="flex">
              <input class="f6 fl black-80 ba b--black-10 pa2 pa3-l lh-solid w-75 br2 br--left" placeholder="Add a comment" type="text" name="comment" id="comment" v-model="myComment">
              <button class="f6 fl pa2 pa3-l tc bg-light-green navy link dim b pointer w-25 br2 br--right" type="submit" :disabled="disableForm">
                Send
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Empty from './../common/Empty.vue'
import PlaceholderImage from './../../assets/images/placeholder.png'
import firebase from 'firebase'

export default {
  name: 'view',
  components: { Empty },
  data () {
    return {
      PlaceholderImage,
      disableForm: false,
      shareURL: 'https://cryptogigs.co/',
      comments: [],
      myUsername: this.$store.state.user.username,
      myComment: '',
      loaded: false,
      myGig: false,
      gig: {}
    }
  },
  created () {
    window.scrollTo(0, 0)
    this.gig.title = 'Gig'
    this.$Progress.start()
    this.getGig()
    this.getComments()
    this.log()
  },
  head: {
    title () {
      return {
        inner: this.gig.title
      }
    },
    meta () {
      return [
        {
          name: 'twitter:title', content: this.gig.title
        },
        {
          name: 'twitter:description', content: this.gig.description
        },
        {
          name: 'twitter:image', content: this.gig.image
        },
        {
          name: 'twitter:site', content: '@cryptogigs'
        },
        {
          property: 'og:title', content: this.gig.title
        },
        {
          property: 'og:description', content: this.gig.description
        },
        {
          property: 'og:image', content: this.gig.image
        }
      ]
    }
  },
  methods: {
    getGig () {
      if (this.$route.params.id) {
        firebase.firestore()
        .collection('posts')
        .doc(this.$route.params.id)
        .get()
        .then((post) => {
          if (post.exists) {
            this.gig = post.data()
            setTimeout(() => {
              this.loaded = true
              this.$Progress.finish()
            }, 250)
            // generate share url
            this.getShareURL()
            // check if it's my item
            this.checkMyGig()
            // update head
            this.$emit('updateHead')
          } else {
            this.goHome()
          }
        })
        .catch((error) => {
          console.log(error)
          this.loaded = true
          this.$Progress.finish()
        })
      } else {
        this.goHome()
      }
    },
    getShareURL () {
      const url = `${window.location}`
      this.shareURL = url
      return url
    },
    checkMyGig () {
      if (this.$store.state.auth.isLoggedIn && this.$store.state.user.uid === this.gig.op.uid) {
        this.myGig = true
      }
    },
    deletePost () {
      this.$modal.show('dialog', { title: 'Are you sure...', text: `You're about to delete this post! This cannot be undone (probably)... Be careful...`, buttons: [{ title: 'Continue', handler: () => this.deleteConfirm() }, { title: 'Cancel' }] })
    },
    deleteConfirm () {
      firebase.firestore()
      .collection('posts')
      .doc(this.$route.params.id)
      .set({
        disabled: true
      }, {
        merge: true
      })
      this.$modal.hide('dialog')
      setTimeout(() => {
        this.$router.push({
          name: 'home'
        })
      }, 250)
    },
    getComments () {
      firebase.firestore()
      .collection('comments')
      .doc(this.$route.params.id)
      .collection('comments')
      .orderBy('created', 'asc')
      .get().then((comments) => {
        // console.log(comments)
        if (!comments.empty) {
          this._.each(comments.docs, (comment, index) => {
            this.comments.push(comment.data())
          })
        }
      })
    },
    addComment () {
      const commentToAdd = {
        created: Date.now(),
        disabled: false,
        message: this.myComment,
        user: this.$store.state.user
      }
      if (this.$store.state.auth.isLoggedIn) {
        firebase.firestore()
        .collection('comments')
        .doc(this.$route.params.id)
        .collection('comments')
        .add(commentToAdd)
        this.comments.push(commentToAdd)
        this.myComment = ''
      } else {
        this.$modal.show('dialog', { title: 'Login to comment! 💻', text: `Heyyyyy... we know you're eager to add your thoughts on this post. Please <a class="link dim underline black" href="/login">login</a> to add your comment. Don't have an account? <a class="link dim underline black" href="/signup">sign up here!</a>` })
      }
    },
    goHome () {
      this.$router.push({
        name: 'home'
      })
    },
    log () {
      this.$ga.event({
        eventCategory: 'view',
        eventAction: 'gig_view',
        eventLabel: 'gig_id',
        eventValue: this.$route.params.id
      })

      this.$root.$on('social_shares_open', (network, url) => {
        this.$ga.event({
          eventCategory: 'share',
          eventAction: 'gig_share',
          eventLabel: network,
          eventValue: url
        })
      })
    }
  }
}
</script>