<template>
  <div class="dib relative w-100 view">

    <empty v-if="loaded && !gig || loaded && gig === {}"
      title="No posts... 🕵️"
      description="Looks like we're having some problems loading posts or by some off chance all posts have been removed then there are indeed no posts."
      ctaRoute="create"
      ctaText="Psstt.. you can create a post here... don't tell anyone 🤐">
    </empty>
    
    <div v-if="loaded">
      <div class="dib w-100 relative pv3 pt6-ns pb5-ns bg-near-white">
        <div class="db center relative w-100 mw8-ns ph3">
          <div class="db w-100 w-50-ns relative center gig-image">
            <span class="absolute top-0 left-0 bg-near-green ph2 pv1 br-pill black f7 fw5 ttu ma3"">
              {{ gig.offer.type }}
            </span>
            <img :src="gig.image" class="dib w-100" alt="gig.title" v-if="gig.image" />
            <img :src="PlaceholderImage" class="dib w-100" alt="gig.title" v-else />
          </div>
        </div>
      </div>

      <div class="dib w-100 relative pv3">
        <div class="db center relative w-100 mw8-ns ph3">
          <div class="dib w-100 relative pv3">
            <div class="dib relative v-top w-100 w-60-ns">
              <h1 class="f2 f-subheading-l dib relative w-100 mb0 pr3-ns">
                {{ gig.title }}
              </h1>
              <p class="f6 fw5 tracked mv3 dib relative w-100 gray overflow-hidden truncate ttu">
                {{ gig.offer.cost === '0' || !gig.offer.cost ? 'Free' : gig.offer.cost }} {{ gig.offer.currency }}/{{ gig.offer.per }}
              </p>
              <p class="f6 lh-copy mv0 dark-gray pr3-ns">
                {{ gig.description }}
              </p>
            </div>
            <div class="dib relative v-top w-100 w-40-ns fr-ns">
              <div class="dib relative w-100 ba b--black-10 br2 pa3 pa4-ns mt4">
                <div class="dib relative w-100 tc">
                  <router-link class="dib relative w-100 navy link dim avatar" :to="{ name: 'profile', params: { username: gig.op.username } }">
                    <img :src="gig.op.photoURL" class="br-100 h3 w3 dib" v-if="gig.op.photoURL && gig.op.photoURL !== ''" />
                    <img :src="PlaceholderImage" class="br-100 h3 w3 dib" v-else />
                    <span class="dib w-100 relative mv2 f4 fw5">
                      @{{ gig.op.username }}
                    </span>
                  </router-link>
                  <div class="dib w-100 relative mb2 f6 fw4 gray">
                    {{ !gig.op.location ? 'No location' : gig.op.location }}
                  </div>
                  <div class="dib w-100 relative mt3">
                    <div v-if="myGig">
                      <router-link class="dib link relative w-auto ph3 pv2 f6 b br-pill bg-washed-green navy hover-blue" :to="{ name: 'profile', params: { username: gig.op.username } }">
                        View my profile
                      </router-link>
                      <button class="db link relative w-auto center ph3 pv2 f6 b br-pill bg-near-white darkgray hover-blue mt3 pointer" @click="deletePost()">
                        Delete post
                      </button>
                    </div>
                    <div class="dib w-100 w-50-ns relative" v-else>
                      <router-link class="db center link relative w-auto ph3 pv2 f6 b br-pill bg-washed-green navy hover-blue shadow-light" :to="{ name: 'user chat', params: { username: gig.op.username } }">
                        Send a message
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dib w-100 relative pv6-ns" v-else>
      <div class="db center relative w-100 mw8-ns ph3">
        <div class="dib w-100 relative pv3 tc">
          <div class="db center relative w-100 w-30-ns">
            <div class="placeholder placeholder--dark pv6">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
            <div class="placeholder placeholder--dark">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Empty from './../common/Empty.vue'
import PlaceholderImage from './../../assets/images/placeholder.png'
import firebaseConfig from './../../firebaseConfig'

export default {
  name: 'view',
  components: { Empty },
  data () {
    return {
      PlaceholderImage,
      loaded: false,
      myGig: false,
      gig: {}
    }
  },
  created () {
    window.scrollTo(0, 0)
    this.$Progress.start()
    this.getGig()
    this.log()
  },
  methods: {
    getGig () {
      if (this.$route.params.id) {
        firebaseConfig.firebase.posts.doc(this.$route.params.id).get()
        .then((post) => {
          if (post.exists) {
            this.gig = post.data()
            setTimeout(() => {
              this.loaded = true
              this.$Progress.finish()
            }, 250)

            // check if it's my item
            this.checkMyGig()
          } else {
            this.goHome()
          }
        })
        .catch((error) => {
          console.log(error)
          this.loaded = true
          this.$Progress.finish()
        })
      } else {
        this.goHome()
      }
    },
    checkMyGig () {
      if (this.$store.state.user) {
        if (this.$store.state.user.uid === this.gig.op.uid) {
          this.myGig = true
        }
      }
    },
    deletePost () {
      this.$modal.show('dialog', { title: 'Soon...', text: `We're still working on this feature... It'll drop when it drops. For now, help us by inviting your friends to cryptogigs.co! <br /> <br /> If you really want this deleted send an email to info@cryptogigs.co with the URL of this post.` })
    },
    goHome () {
      this.$router.push({
        name: 'home'
      })
    },
    log () {
      this.$ga.event({
        eventCategory: 'view',
        eventAction: 'gig_view',
        eventLabel: 'gig_id',
        eventValue: this.$route.params.id
      })
    }
  }
}
</script>