$gray-1: #F8F8F9;
$gray-2: #EEEEF0;
$placeholder-white: rgba(255,255,255,0.1);
$placeholder-white-highlight-start: rgba(255,255,255,0);
$placeholder-shimmer-size: 300px;
$placeholder-shimmer-time: 1.5s;

@keyframes shimmer {
  0% {
  	background-position: -$placeholder-shimmer-size 0;
  }
  100% {
  	background-position: $placeholder-shimmer-size+500px 0;
  }
}

.placeholder {
  margin-bottom: 15px;
  border-radius: 3px;
  animation: shimmer $placeholder-shimmer-time ease infinite;
}

.placeholder--white {
	background-color: rgba(255,255,255,0.1);
	background-image: linear-gradient(-90deg, $placeholder-white-highlight-start 0%, $placeholder-white 50%, $placeholder-white-highlight-start 100%);
	background-repeat: no-repeat;
	background-size: $placeholder-shimmer-size 100%;
	background-position: -$placeholder-shimmer-size 0;
}

.placeholder--dark {
  background-color: $gray-1;
  background-image: linear-gradient(-90deg, $gray-1 0%, $gray-2 50%, $gray-1 100%);
  background-size: $placeholder-shimmer-size 100%;
  background-repeat: no-repeat;
  background-position: -$placeholder-shimmer-size 0;
}

.placeholder-short {
  width: 70%;
}