/* Any external files/variables */
@import 'fonts';
@import 'variables';
@import 'animations';
@import 'shimmer';

/* Breakpoints */
@value breakpoint-not-small: screen and (min-width: 30em);
@value breakpoint-small-medium: screen and (max-width: 45em);
@value breakpoint-medium: screen and (min-width: 30em) and (max-width: 60em);
@value breakpoint-large: screen and (min-width: 60em);
@value breakpoint-small: screen and (max-width: 30em);

/* Box sizing partial styles: Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Background colors */
.bg-offwhite {
  background: #f9f9f9;
}
.bg-near-yellow {
  background: rgba(255, 215, 0, 0.1);
}
.bg-near-blue {
  background: rgba(0, 126, 255, 0.1); 
}
.bg-near-green {
  background: rgba(214, 251, 222, 1);
}
.bg-near-pink {
  background: rgba(255, 163, 163, 0.1);
}
.bg-near-magic {
  background: rgba(242, 242, 244, 0.6);
}

/* Tachyons override */
.bg-white-ns {
  @media breakpoint-not-small {
    background: white;
  }
}
.bg-washed-green-ns {
  @media breakpoint-not-small {
    background: #e8fdf5;
  }
}

.bg-washed-yellow-ns {
  @media breakpoint-not-small {
    background: #fffceb;
  }
}

/* App */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: $sans-serif;
  background: white;
  transition: all 0.15s ease-in-out;
  outline: none;
}

/* Core elements */
a,
input,
button,
textarea {
  transition: all 0.15s ease-in-out;
  outline: none;
  border: none;

  &:focus {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    outline: none;
  }

  &:disabled {
    box-shadow: none !important;
    opacity: 0.5;
    cursor: default !important;
  }
}

input,
textarea {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input,
textarea,
optgroup,
select,
button {
  font-family: $sans-serif;
}

img {
  background: #f7f7f7;
}

/* Override Link */
.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  transition: all 0.15s ease-in-out;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

/* Prettyyyyyyyy */
.shadow-light {
  box-shadow: 0 5px 60px rgba(0, 27, 68, 0.075);
  transform: translate3d(0, 0, 0);
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 0 3px 100px rgba(0, 27, 68, 0.2);
    transform: translate3d(0, -0.5rem, 0);
  }
}

/* Nav brand */
.brand {
  .logo {
    transition: all 0.15s ease-in-out;
    height: 1.5rem;
    width: 1.5rem;
  }

  &:hover {
    .logo {
      animation: spin 3s ease 0s infinite;
      fill: #357edd;
    }
  }
}

/* Dialog */
.vue-dialog {
  .dialog-content {
    padding: 2rem !important;
  }
  .dialog-c-title {
    font-weight: 500;
    font-size: 3rem;
  }
  .dialog-c-text {
    font-size: 1rem;
  }
  .vue-dialog-buttons {
    .vue-dialog-button {
      font-weight: 500;
      font-size: 0.875rem !important;
      max-height: 48px;
      padding: 1rem !important;
      height: auto !important;
    }
  }
}

/* Override the image input */
.signup,
.create {
  canvas.picture-preview {
    z-index: 0 !important;
  }
}
.signup {
  canvas.picture-preview {
    border-radius: 100%;
  }
}
.picture-inner {
  margin: 0.6em auto !important;
  z-index: 0 !important;
}

/* Gig on home page */
.gig {
  width: calc(33.333333% - 2rem);

  @media breakpoint-small-medium {
    width: calc(50% - 2rem);
  }

  @media breakpoint-small {
    width: 100%;
  }

  .gig-image {
    img {
      object-fit: cover;
      overflow: hidden;
      height: 15rem;
    }
  }

  .gig-content {
    height: 16rem;

    @media breakpoint-small {
      height: auto;
    }
  }

  hr {
    border-bottom: none;
  }
}

/* Gig on profile */
.gig.profile {
  width: 100%;

  @media breakpoint-small-medium {
    width: 100%;
  }

  @media breakpoint-small {
    width: 100%;
  }

  .gig-image {
    img {
      object-fit: cover;
      overflow: hidden;
      height: 25rem;
    }
  }

  .gig-content {
    height: auto;
  }
}

/* Gig View */
.view {
  .shadow-view {
    box-shadow: 0 5px 80px rgba(0, 27, 68, 0.075);

    @media breakpoint-medium {
      box-shadow: none;
    }

    @media breakpoint-small {
      box-shadow: none;
    }
  }
  .gig-image {
    img {
      object-fit: cover;
      overflow: hidden;
      max-height: 40rem;
    }
  },
  .avatar {
    img {
      object-fit: cover;
      overflow: hidden;
    }
  }
  p {
    white-space: pre-line;
  }
}

/* Featured links */
.list li:last-of-type .slash {
  display: none;
}

/* Profile */
.profile {
  img.profile-image {
    object-fit: cover;
    overflow: hidden;
  }
}

/* Create */
.create {
  input[type="radio"] {
    appearance: none;
    position: absolute;
    border-radius: 0;
    border: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    &:checked {
      background: #9eebcf;
      opacity: 1;
    }
  }
}