<template>
  <div class="db center w-100 mw8-ns">
    <div class="dib w-100 relative ph3 pv3 pv5-ns">

      <div class="db center relative w-100 mw8-ns pa0 pa6-ns br2">
        <h1 class="f2 f-subheadline-l fw5 measure lh-title navy">
          Chats
        </h1>
        <h2 class="f4 fw5 navy o-80 mb4">
          Your messages will appear here. You won't get email notifications when you receive new messages so be sure to check this daily!
        </h2>
        <div class="dib w-100 relative">
          <ul class="ma0 pa0 list" v-if="loaded && chats">
            <li v-for="chat in chats" :key="chat.name">
              <router-link :to="{ name: 'user chat', params: { username: chat.to === myUsername ? chat.from.username : chat.to } }" class="dib w-100 relative pv2 link dim f4 fw5 navy">
                <span class="dib w-auto relative v-mid mr3">
                  <img :src="chat.from.photoURL" class="br-100 h3 w3 db center-l" v-if="chat.from.photoURL && chat.from.photoURL !== ''" />
                  <img :src="PlaceholderImage" class="br-100 h3 w3 db center-l" v-else />
                </span>
                <span class="dib relative mw-100 v-mid">
                  {{ chat.to === myUsername ? chat.from.username : chat.to }}
                </span>
              </router-link>
            </li>
          </ul>
          <empty v-if="loaded && !chats || loaded && chats.length === 0"
            title="No chats... Get talking! 💬"
            description="See if anything interests you on the home feed and then send that user a message!"
            ctaRoute="home"
            ctaText="View some posts 😎">
          </empty>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
import Empty from './../common/Empty.vue'
import PlaceholderImage from './../../assets/images/placeholder.png'
import firebase from 'firebase'

export default {
  name: 'chats',
  components: { Empty },
  data () {
    return {
      PlaceholderImage,
      myUsername: '',
      loaded: false,
      chats: []
    }
  },
  created () {
    if (this.$store.state.user) {
      this.myUsername = this.$store.state.user.username
    }
    this.getChats()
  },
  methods: {
    getChats () {
      this.$Progress.start()
      firebase.firestore()
      .collection('users')
      .doc(this.$store.state.user.username)
      .collection('chats')
      .get()
      .then((docRef) => {
        this._.each(docRef.docs, (chat, index) => {
          console.log(chat)
          this.chats.push(chat.data())
        })
      })
      // console.log(this.chats)
      this.loaded = true
      this.$Progress.finish()
    }
  }
}
</script>