<template>
  <div class="db center w-100 mw8-ns">
    <div class="dib w-100 relative ph3 pv3 pv5-ns">

      <div class="db center relative w-100 mw8-ns pa0 pa6-ns ba-ns b--black-10 br2">
        <h1 class="f2 f-subheadline-l fw5 measure lh-title navy">
          Chatting with {{ chattingWith }}
        </h1>
        <div class="dib w-100 relative mb5">
          <ul class="ma0 pa0 list" v-if="loaded && messages.length > 0">
            <li class="dib relative w-100 mb3" v-for="message in messages">
              <span class="dib v-btm relative w-auto" v-if="message.from.username !== myUsername">
                <img :src="message.from.photoURL" class="br-100 h2 w2 db center-l" v-if="message.from.photoURL && message.from.photoURL !== ''" />
                <img :src="PlaceholderImage" class="br-100 h2 w2 db center-l" v-else />
              </span>
              <span class="dib br3 w-auto mw-100 ph3 ph4-ns pv2 pv3-ns f5 fw5 navy v-btm relative" :class="[ message.from.username === myUsername ? 'bg-near-white fr' : 'bg-washed-green' ]">
                {{ message.message }}
              </span>
            </li>
          </ul>
          <empty v-if="loaded && !messages || loaded && messages.length === 0"
            title="No messages... Get talking! 💬"
            description="See if anything interests you on the home feed and then send that user a message!"
            ctaRoute="home"
            ctaText="View some posts 😎">
          </empty>
        </div>
        <div class="absolute w-100 bottom-0 left-0 bg-white pa5-ns">
          <form class="db center ph5-ns w-100 relative mw8-ns" @submit.prevent="sendMessage()">
            <div class="flex">
              <input class="f6 fl black-80 ba b--black-10 pa2 pa3-l lh-solid w-75 br2 br--left" placeholder="Add a comment" type="text" name="comment" id="comment" v-model="myMessage">
              <button class="f6 fl pa2 pa3-l tc bg-washed-green navy hover-blue b pointer w-25 br2 br--right" type="submit" :disabled="disableForm">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Empty from './../common/Empty.vue'
import PlaceholderImage from './../../assets/images/placeholder.png'
import firebase from 'firebase'

export default {
  name: 'InitializeData',
  components: { Empty },
  data () {
    return {
      PlaceholderImage,
      docExists: false,
      roomName: '',
      chattingWith: '',
      myUsername: '',
      myMessage: '',
      messages: [],
      disableForm: false,
      loaded: false,
      typing: false
    }
  },
  created () {
    this.otherUsername = this.$route.params.username
    this.chattingWith = `@${this.$route.params.username}`
    if (this.$store.state.auth) {
      this.myUsername = this.$store.state.user.username
      this.getMessages()
    }
  },
  methods: {
    getMessages   () {
      this.$Progress.start()
      const user1 = this.$store.state.user.username
      const user2 = this.$route.params.username
      this.roomName = (user1 < user2 ? user1 + '_' + user2 : user2 + '_' + user1)
      firebase.firestore()
      .collection('chats')
      .doc(this.roomName)
      .collection('messages')
      .orderBy('created', 'asc')
      .get()
      .then((docRef) => {
        if (docRef.empty) {
          this.docExists = false
          firebase.firestore()
          .collection('chats')
          .doc(this.roomName)
          .set({})
          // add this to user's chats via /users
          const roomDetails = {
            name: this.roomName,
            uid: this.$store.state.user.uid,
            from: this.$store.state.user,
            to: this.$route.params.username
          }
          firebase.firestore()
          .collection('users')
          .doc(this.$store.state.user.username)
          .collection('chats')
          .add(roomDetails)
          // hack :( adding to both user's chats...
          // firebaseConfig.firebase.users
          // .doc(this.$route.params.username)
          // .collection('chats')
          // .add(roomDetails)
        } else {
          this.docExists = true
          this._.each(docRef.docs, (message, index) => {
            // console.log(message.data())
            this.messages.push(message.data())
          })
        }
      })
      this.loaded = true
      this.$Progress.finish()
    },
    sendMessage () {
      const message = {
        created: Date.now(),
        message: this.myMessage,
        from: this.$store.state.user
      }
      this.messages.push(message)
      this.disableForm = true
      setTimeout(() => {
        this.disableForm = false
      }, 200)
      firebase.firestore()
      .collection('chats')
      .doc(this.roomName)
      .collection('messages')
      .add(message)
      .then((response) => {
        // console.log(response)
        this.myMessage = ''
      })
      .catch((error) => {
        console.log(error)
        const errorCode = error.code
        const errorMessage = error.message
        this.$modal.show('dialog', { title: 'Oh dear... 😱', text: `Something went wrong with our systems... Please report to <a class="link dim underline black" href="mailto:bugs@cryptogigs.co">bugs@cryptogigs.co!</a><br><br><pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
      })
    }
  }
}
</script>