<template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative cover ph3 pv3 pv6-ns">

      <form class="db w-100 mw6-ns pa4 pa5-ns bg-washed-yellow br2 center" @submit.prevent="submit()">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f2 f-subheadline-l fw5 measure lh-title navy">
            My Addresses
          </legend>
          <small class="db f7 lh-copy black-60">
            You can add external addresses right now while we're still building our own wallet! 👀
          </small>

          <div class="dib relative mt4 w-100" v-for="address in profile.addresses">
            <label class="db lh-copy f6 mb2 navy" for="addresses">{{ address.name }} Wallet</label>
            <input
              class="f5 pa3 input-reset ba bg-transparent w-100"
              name="addresses"
              type="text"
              placeholder="your wallet address"
              v-model="address.address"
            >
          </div>
        </fieldset>

        <div class="db relative mv3">
          <button class="f5 b ph4 pv3 bg-white br3 pointer link shadow-light navy hover-blue grow" type="submit" :disabled="disableForm">
            Save changes
          </button>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'edit_profile',
  data () {
    return {
      disableForm: false,
      profile: {
        addresses: {
          btc: {
            name: 'Bitcoin',
            address: null
          },
          eth: {
            name: 'Ethereum',
            address: null
          },
          ltc: {
            name: 'Litecoin',
            address: null
          },
          xrp: {
            name: 'Ripple',
            address: null
          }
        }
      },
      user: null
    }
  },
  created () {
    this.user = this.$store.state.user
    this.getLatestBlockchain()
  },
  methods: {
    getLatestBlockchain () {
      firebase.firestore()
      .collection('users')
      .doc(this.user.username)
      .get().then((docRef) => {
        const addresses = docRef.data().addresses
        if (addresses) {
          this.profile.addresses = addresses
        }
      })
      .catch((error) => {
        console.log(error)
        this.disableForm = false
        const errorCode = error.code
        const errorMessage = error.message
        this.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message: <pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
      })
    },
    submit () {
      console.log(this.profile.addresses)
      this.disableForm = true
      this.$Progress.start()
      const dataToPush = {
        addresses: this.profile.addresses
      }
      const userData = {
        emailVerified: this.user.emailVerified,
        username: this.user.username,
        photoURL: this.user.photoURL,
        email: this.user.email,
        uid: this.user.uid,
        location: this.profile.location,
        external: this.profile.external,
        addresses: this.profile.addresses
      }
      this.$auth._storeUser(userData)
      firebase.firestore()
      .collection('users')
      .doc(this.user.username)
      .update(dataToPush)
      .then(() => {
        this.$Progress.finish()
        this.$router.push({
          name: 'profile',
          params: {
            username: this.user.username
          }
        })
      })
      .catch((error) => {
        this.disableForm = false
        const errorCode = error.code
        const errorMessage = error.message
        this.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message: <pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
      })
    }
  }
}
</script>
