<template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative cover ph3 pv3 pv6-ns">

      <form class="db w-100 mw6-ns pa4 pa5-ns bg-washed-green br2 center" @submit.prevent="submit()">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f2 f-subheadline-l fw5 measure lh-title navy">
            Edit Profile
          </legend>
          <small class="db f7 lh-copy black-60">
            More features coming in 2018! 🎩
          </small>

          <div class="dib relative mt4 w-100">
            <label class="db lh-copy f6 mb2 navy" for="location">Location</label>
            <input
              class="f5 pa3 input-reset ba bg-transparent w-100"
              name="location"
              type="text"
              placeholder="ex: San Francisco, California, USA"
              v-model="profile.location"
            >
          </div>
          
          <hr class="w3 mh0 mv4 bb bw1 b--black-10 db">

          <div class="dib relative w-100">
            <label class="db lh-copy f6 mb2 navy" for="website">Personal Website</label>
            <input
              class="f5 pa3 input-reset ba bg-transparent w-100"
              name="website"
              type="text"
              placeholder="ex: https://yourportfolio.com/"
              v-model="profile.external['website'].username"
            >
          </div>

          <div class="dib relative mt4 w-100">
            <label class="db lh-copy f6 mb2 navy" for="linkedin">LinkedIn</label>
            <input
              class="f5 pa3 input-reset ba bg-transparent w-100"
              name="linkedin"
              type="text"
              placeholder="ex: https://linkedin.com/in/myname"
              v-model="profile.external['linkedin'].username"
            >
          </div>

          <div class="dib relative mt4 w-100">
            <label class="db lh-copy f6 mb2 navy" for="dribbble">Dribbble Username</label>
            <span class="absolute pa3 navy">
              @
            </span>
            <input
              class="f5 pl4 pr3 pv3 input-reset ba bg-transparent w-100"
              name="dribbble"
              type="text"
              placeholder="ex: username"
              v-model="profile.external['dribbble'].username"
            >
          </div>

          <div class="dib relative mt4 w-100">
            <label class="db lh-copy f6 mb2 navy" for="instagram">Instagram Username</label>
            <span class="absolute pa3 navy">
              @
            </span>
            <input
              class="f5 pl4 pr3 pv3 input-reset ba bg-transparent w-100"
              name="instagram"
              type="text"
              placeholder="ex: username"
              v-model="profile.external['instagram'].username"
            >
          </div>

          <div class="dib relative mt4 w-100">
            <label class="db lh-copy f6 mb2 navy" for="facebook">Facebook Username</label>
            <span class="absolute pa3 navy">
              @
            </span>
            <input
              class="f5 pl4 pr3 pv3 input-reset ba bg-transparent w-100"
              name="facebook"
              type="text"
              placeholder="ex: username"
              v-model="profile.external['facebook'].username"
            >
          </div>

          <div class="dib relative mt4 w-100">
            <label class="db lh-copy f6 mb2 navy" for="twitter">Twitter Username</label>
            <span class="absolute pa3 navy">
              @
            </span>
            <input
              class="f5 pl4 pr3 pv3 input-reset ba bg-transparent w-100"
              name="twitter"
              type="text"
              placeholder="ex: username"
              v-model="profile.external['twitter'].username"
            >
          </div>
        </fieldset>

        <div class="db relative mv3">
          <button class="f5 b ph4 pv3 bg-white br3 pointer link shadow-light navy hover-blue grow" type="submit" :disabled="disableForm">
            Save changes
          </button>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'edit_profile',
  data () {
    return {
      disableForm: false,
      profile: {
        location: null,
        external: {
          website: {
            username: '',
            name: 'Personal Website'
          },
          linkedin: {
            username: '',
            name: 'LinkedIn'
          },
          dribbble: {
            username: '',
            name: 'Dribbble',
            destination: 'https://dribbble.com/'
          },
          instagram: {
            username: '',
            name: 'Instagram',
            destination: 'https://instagram.com/'
          },
          facebook: {
            username: '',
            name: 'Facebook',
            destination: 'https://facebook.com/'
          },
          twitter: {
            username: '',
            name: 'Twitter',
            destination: 'https://twitter.com/'
          }
        }
      },
      user: null
    }
  },
  created () {
    this.user = this.$store.state.user
    this.getFieldContent()
  },
  methods: {
    getFieldContent () {
      if (this.user) {
        this.profile = this.user

        if (!this.user.external) {
          this.profile.external = {
            website: {
              username: '',
              name: 'Personal Website'
            },
            linkedin: {
              username: '',
              name: 'LinkedIn'
            },
            dribbble: {
              username: '',
              name: 'Dribbble',
              destination: 'https://dribbble.com/'
            },
            instagram: {
              username: '',
              name: 'Instagram',
              destination: 'https://instagram.com/'
            },
            facebook: {
              username: '',
              name: 'Facebook',
              destination: 'https://facebook.com/'
            },
            twitter: {
              username: '',
              name: 'Twitter',
              destination: 'https://twitter.com/'
            }
          }
        }
        if (!this.user.location) {
          this.profile.location = null
        }
      }
    },
    submit () {
      // console.log(this.profile.external)
      this.disableForm = true
      this.$Progress.start()
      const userData = {
        emailVerified: this.user.emailVerified,
        username: this.user.username,
        photoURL: this.user.photoURL,
        email: this.user.email,
        uid: this.user.uid,
        location: this.profile.location,
        external: this.profile.external
      }
      this.$auth._storeUser(userData)
      const dataToPush = {
        external: this.profile.external,
        location: this.profile.location
      }
      if (this.user) {
        firebase.firestore()
        .collection('users')
        .doc(this.user.username)
        .update(dataToPush)
        .then(() => {
          this.$Progress.finish()
          this.$router.push({
            name: 'profile',
            params: {
              username: this.user.username
            }
          })
        })
        .catch((error) => {
          console.log(error)
          this.disableForm = false
          const errorCode = error.code
          const errorMessage = error.message
          this.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message: <pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
        })
      }
    }
  }
}
</script>
