<template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative bg-white pt5 pt6-l">
      
      <div class="db center w-100 mw8-l ph3 pt0 pb5 pv5-l profile">
        <div class="db center relative w-100">
          <div class="dib w-100 relative header tc tl-l">
            <div class="db dib-l center relative v-mid w4 h4 tc mb3 mb0-l mr5-l">
              <img :src="profile.photoURL" class="w-100 h-100 br-100 profile-image" />
            </div>
            <div class="db dib-l relative w-100 w-40-l v-mid">
              <h1 class="f2 f1-l fw5 measure lh-title navy mv2">
                @{{ profile.username }}
              </h1>
              <h2 class="f6 fw4 dark-gray mt1 mb3">
                {{ !profile.location ? 'No location' : profile.location }}
              </h2>
            </div>
            <div class="db dib-l relative w-100 w-30-l v-mid mt4 pt1-l fr-l" v-if="loaded">
              <div class="dib fr-l relative w-100 v-mid tc tr-l" v-if="myProfile">
                <router-link class="dib link relative w-auto v-mid ph2 ph3-l pv1 pv2-l f6 b bg-white br3 navy hover-blue ba bw1 mr2" :to="{ name: 'edit profile' }">
                  Edit profile
                </router-link>
                <button class="dib link relative w-auto v-mid ph2 ph3-l pv1 pv2-l f6 b bg-white br3 navy hover-blue ba bw1 pointer" @click="logout()">
                  Logout
                </button>
              </div>
              <router-link class="dib link fr-l relative w-auto v-mid ph3 ph4-l pv2 pv3-l f5 b br3 bg-light-green navy hover-blue shadow-light" :to="{ name: 'user chat', params: { username: profile.username } }" v-else>
                Send a message
              </router-link>
            </div>
          </div>
        </div>
      </div>

      <div class="dib w-100 relative bg-near-magic">
        <div class="db center w-100 mw8-l ph3 pv4 pv5-l">
          <div class="dib w-100 relative">
            
            <div class="dib w-100 w-20-l relative v-top fl">
              <p class="f5 b navy mt0 mb3">
                External Links
              </p>
              <ul class="list mb4 mv0-l pa0">
                <li v-for="link in external" class="dib w-auto w-100-l relative mr2">
                  <a :href="link.generatedURL" target="_blank" class="dib relative f6 fw4 link dim gray pv1">
                    {{ link.name }} <span class="dib dn-l slash"> / </span>
                  </a>
                </li>
                <li class="dib w-auto w-100-l relative mr2" v-if="myProfile">
                  <router-link :to="{ name: 'edit profile' }" class="dib relative f6 fw4 link dim gray pv1">
                    Update your external links
                  </router-link>
                </li>
              </ul>
              <p class="f6 gray" v-if="loaded && external.length === 0 && !myProfile">
                No external links to show
              </p>

              <div v-if="myProfile">
                <hr class="mh0 mv4 bw1 bb b--black-10 w3 db relative" />

                <p class="f5 b navy mt0 mb3 dib relative w-100">
                  My Addresses
                </p>
                <ul class="list mb4 mv0-l pa0 relative dib w-100">
                  <li v-for="address in profile.addresses" class="dib w-auto w-100-l relative mr2" v-if="address.address">
                    <button class="dib relative f6 fw4 gray pv1 link dim ph0 bg-transparent pointer" @click="showAddress(address)">
                      {{ address.name }}
                    </button>
                  </li>
                  <li class="dib w-auto w-100-l relative mr2">
                    <router-link :to="{ name: 'addresses' }" class="dib relative f6 fw4 link dim gray pv1">
                      Add and manage addresses
                    </router-link>
                  </li>
                  <li class="dib w-auto w-100-l relative">
                    <router-link :to="{ name: 'setup' }" class="dib relative f6 fw4 link dim gray pv1 underline">
                      Learn more
                    </router-link>
                  </li>
                </ul>
              </div>

            </div>

            <div class="dib w-100 w-80-l relative v-top fr posts">

              <empty v-if="loaded && !gigs || loaded && gigs.length === 0"
                title="No posts... 🕵️"
                description="Looks like we're having some problems loading posts or by some off chance all posts have been removed then there are indeed no posts."
                ctaRoute="create"
                ctaText="Psstt.. you can create a post here... don't tell anyone 🤐">
              </empty>

              <div v-if="loaded">
                <gigs v-for="gig in gigs" :gig="gig" :key="gig.id" max-columns="1"></gigs>
              </div>

              <div class="dib w-100 relative" v-else>
                <article class="dib relative gig profile v-top overflow-hidden br2 mb3 mb4-ns w-100" v-for="placeholder in 3">
                  <span class="dib w-100 placeholder placeholder--dark h5">
                    <span class="dib w-100 relative gig-image">
                      &nbsp;
                    </span>
                  </span>
                  <span class="dib relative w-100">
                    <span class="dib w-100 mv1">
                      <p class="f4 fw5 mv0 dib relative w-100 overflow-hidden placeholder placeholder--dark">
                        &nbsp;
                      </p>
                      <p class="f6 fw5 tracked mv2 dib relative w-100 gray overflow-hidden ttu placeholder placeholder--dark">
                        &nbsp;
                      </p>
                    </span>
                  </span>
                </article>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</template>


<script>
import PlaceholderImage from './../../assets/images/placeholder.png'
import Empty from './../common/Empty.vue'
import Gig from './../gigs/Gig.vue'

import firebase from 'firebase'

export default {
  name: 'profile',
  components: {
    'gigs': Gig,
    empty: Empty
  },
  data () {
    return {
      loaded: false,
      profile: {
        emailVerified: false,
        username: this.$route.params.username,
        location: '',
        photoURL: '',
        uid: ''
      },
      external: [],
      myProfile: false,
      gigs: []
    }
  },
  created () {
    // Scroll to top on this route
    window.scrollTo(0, 0)
    this.profile.username = '...'
    this.$Progress.start()
    this.getProfile()
    this.getGigs()
  },
  head: {
    title () {
      return {
        inner: `@${this.profile.username}`
      }
    },
    meta () {
      return [
        {
          name: 'twitter:title', content: this.profile.username
        },
        {
          name: 'twitter:description', content: 'Earn crypto currencies with me on cryptogigs.co'
        },
        {
          name: 'twitter:image', content: this.profile.photoURL
        },
        {
          name: 'twitter:site', content: '@cryptogigs'
        },
        {
          property: 'og:title', content: `@${this.profile.username}`
        },
        {
          property: 'og:description', content: 'Earn crypto currencies with me on cryptogigs.co'
        },
        {
          property: 'og:image', content: this.profile.photoURL
        }
      ]
    }
  },
  methods: {
    getProfile () {
      firebase.firestore()
      .collection('users')
      .doc(this.$route.params.username)
      .get().then((user) => {
        if (user.exists) {
          // have a user with this id
          // console.log(user.data())
          this.profile = user.data()
          // update head
          this.$emit('updateHead')
          // my profile
          if (this.$store.state.user.username === this.$route.params.username) {
            this.myProfile = true
          }
          // handle empty photo
          if (!this.profile.photoURL) {
            this.profile.photoURL = PlaceholderImage
          }
          // handle external links
          if (this.profile.external) {
            this._.map(this.profile.external, (item, index) => {
              // console.log(item)
              if (item.username && item.destination) {
                // generate the links to sites with usersnames (dribbble, facebook, instagram, twitter)
                this.external.push({
                  generatedURL: `${item.destination}${item.username}`,
                  name: item.name
                })
              } else if (item.username && !item.destination) {
                // this is to handle personal website and linkedin - using username as a placeholder for the input
                this.external.push({
                  generatedURL: item.username,
                  name: item.name
                })
              }
            })
          }
        } else {
          // no such user
          this.$router.push({
            name: 'home'
          })
        }
      })
    },
    getGigs () {
      firebase.firestore()
      .collection('posts')
      .orderBy('created', 'desc')
      .where('op.username', '==', this.$route.params.username)
      .where('disabled', '==', false)
      .get().then((querySnapshot) => {
        // console.log(querySnapshot)
        if (!querySnapshot.empty) {
          // console.log(querySnapshot.docs)
          this._.each(querySnapshot.docs, (post, index) => {
            const postData = post.data()
            const postId = querySnapshot.docs[index].id
            // console.log(postId)
            this.gigs.push({
              id: postId,
              title: postData.title,
              description: postData.description,
              image: postData.image,
              offer: postData.offer,
              op: postData.op
            })
          })
        }
        setTimeout(() => {
          this.loaded = true
        }, 500)
        this.$Progress.finish()
      })
    },
    showAddress (address) {
      // console.log(address)
      this.$modal.show('dialog', { title: `${address.name} address`, text: `This is your wallet address. Use this to receive payments, copy and paste the text below when you want to receive payments to this wallet. <pre class="dib w-100 relative f7 bg-near-white pa3 mt3 mb0">${address.address}</pre>` })
    },
    logout () {
      // console.log('Logging out')
      this.$auth.logout()
    }
  }
}
</script>