<template>
  <div class="db center w-100 mw8-ns">
    <div class="dib w-100 relative ph3 pv3 pv5-ns">

      <div class="db center relative w-100 mw8-ns pa0 pa6-ns bg-washed-green-ns br2">
        <h1 class="f2 f-subheadline-l fw5 measure lh-title navy">
          About
        </h1>
        <h2 class="f4 fw5 navy o-80 mb4">
          Start by creating a gig, choosing a currency and then chatting!
        </h2>

        <div class="dib w-100 relative mt4">
          <h3 class="f3 fw6 navy mv2">
            Give a helping hand!
          </h3>
          <p class="lh-copy dark-gray">
            Think you have what it takes? We're currently brining on founders for the roles listed below for equity in the company. We want people who are willing to learn and can own their piece of work. Our team is always focused on growth both personal and business, if that's something you're interested in reach out.
          </p>

          <hr class="mw3 bb bw1 b--black-10 mh0 mt4 mb0">

          <ul class="list pl0 ma0">
            <li class="dib w-100 bb b--black-10 pv2 pv0-ns" v-for="(job, index) in jobs" :key="index">
              <a :href="job.link" class="dt w-100 link navy hover-blue">
                <span class="dib dtc-ns pv2 pv4-ns v-mid w-100 w-80-ns">
                  <span class="dib w-100 f4 fw5 mb3">
                    {{ job.title }}
                  </span>
                  <span class="dib w-100 lh-copy dark-gray measure mb3">
                    {{ job.description }}
                  </span>
                  <span class="dib w-100 f6 lh-copy navy o-60">
                    Equity: {{ job.equity }}
                  </span>
                  <button class="db dn-ns f6 b mt4 mt0-ns bg-washed-green bg-white-ns dim pointer ph3 pv2 br3 black-60">
                    Get in touch
                  </button>
                </span>
                <span class="dn dtc-ns v-mid w-20">
                  <button class="f6 b fr bg-white pointer ph3 pv2 br3 shadow-light navy hover-black grow">
                    Get in touch
                  </button>
                </span>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</template>

<script>

export default {
  created () {
    window.scrollTo(0, 0)
  },
  data () {
    return {
      jobs: [
        {
          title: 'Backend Developer',
          description: 'Help us grow the team and the platform. We\'re looking for a talented backend developer ideally working with NodeJS though we are open to suggestions. What\'s the saying? Friends don\'t let friends use MongoDB... right?',
          link: 'mailto:jobs@cryptogigs.co?subject=Backend Developer&body=Tell us a bit about yourself. Add your linkedin profile or github or some work we can see!',
          equity: '5-10%'
        },
        {
          title: 'Wallet Developer',
          description: 'At some point in the near future we\'re looking to build our own wallet management and wallet system. Wanna learn or already know how this works? Send us a note!',
          link: 'mailto:jobs@cryptogigs.co?subject=Wallet Developer&body=Tell us a bit about yourself. Add your linkedin profile or github or some work we can see!',
          equity: 'Negotiable'
        },
        {
          title: 'Any role',
          description: 'Think you might be a fit on our small "A" team? Send us a message, we would love to hear your story to see how you may fit in!',
          link: 'mailto:jobs@cryptogigs.co?subject=Backend Developer&body=Tell us a bit about yourself. Add your linkedin profile or github or some work we can see!',
          equity: 'Negotiable'
        }
      ]
    }
  }
}

</script>