<template>
  <div id="root" class="dib relative w-100">
    <header-component></header-component>
    <gigs-container max-columns="3"></gigs-container>
  </div>
</template>

<script>
import Header from './../common/Header.vue'
// import Featured from './../common/Featured.vue'
import GigsContainer from './../gigs/GigsContainer.vue'
// import firebase from 'firebase'

export default {
  name: 'Main',
  components: {
    'header-component': Header,
    'gigs-container': GigsContainer
    // 'featured-component': Featured
  }
  // created () {
  //   const db = firebase.firestore()
  //   const testdb = db.collection('users')
  //   testdb.get().then((querySnapshot) => {
  //     querySnapshot.forEach((doc) => {
  //       console.log(doc.data())
  //       // console.log(`${doc.id} => ${doc.data()}`)
  //     })
  //   })
  // }
}
</script>
