 <template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative ph3 pv3 pv6-ns create">

      <form class="db w-100 mw7-ns br2 center"
          @submit.prevent="submit()"
        >
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f2 f-subheadline-l fw5 measure lh-title navy">
            + New Post
          </legend>
          <small class="db f7 lh-copy black-60">
            Psst... we know this form is a tad long rn... it'll get better though!
          </small>
          
          <div class="mt4">
            <picture-input
              ref="pictureInput"
              accept="image/jpeg,image/png,image/gif"
              radius="0"
              size="10"
              buttonClass="dib relative ph3 pv2 w-auto f7 fw5 bg-transparent ba b--black-20 mb2"
              :customStrings="{
              upload: '<h1>Bummer!</h1>',
              drag: 'Add an image to your post to make it stand out 😏'}"
              @change="pictureChange"
            >
            </picture-input>
          </div>

          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="offerType">Offering or wanted</label>
            <div class="dib w-100 relative ba b--black-20 br2 overflow-hidden">
              <div class="dib relative w-100" v-for="(offerType, index) in offerTypes" :key="index">
                <input type="radio" name="offerType" :id="offerType.key" :value="offerType.key" :key="offerType.key" class="dib" v-model="post.offer.type">
                <label :for="offerType.key" class="dib relative w-100 h-100 pa3 f6 fw5 navy bw2">
                  {{ offerType.name }}
                </label>
              </div>
            </div>
          </div>

          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="title">Title&nbsp;<span class="f7 gray">( {{ 64-post.title.length }} )</span></label>
            <input
              v-validate="'required|min:3|max:64'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('title') }"
              name="title"
              type="text"
              placeholder="title your post here, ex: i'll teach you how to cook"
              v-model="post.title"
            >
            <div v-show="errors.has('title')" class="db f7 lh-copy red mt2">
              Say something magical in 4 to 64 characters 🦄
            </div>
          </div>

          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="description">Description&nbsp;<span class="f7 gray">( {{ 1024-post.description.length }} )</span></label>
            <textarea-autosize
              v-validate="'required|min:6|max:1024'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('description') }"
              name="description"
              type="text"
              placeholder="enter a description"
              v-model="post.description"
            >
            </textarea-autosize>
            <div v-show="errors.has('description')" class="db f7 lh-copy red mt2">
              Describe your post in 6 to 1,024 characters 👌
            </div>
          </div>
          
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="currency">Choose a currency</label>
            <div class="dib w-100 relative ba b--black-20 br2 overflow-hidden">
              <div class="dib relative w-100" v-for="(currency, index) in currencies" :key="index">
                <input type="radio" name="currency" :id="currency.key" :value="currency.key" :key="currency.key" class="dib" v-model="post.offer.currency">
                <label :for="currency.key" class="dib relative w-100 h-100 pa3 f6 fw5 navy bw2">
                  {{ currency.name }}
                </label>
              </div>
            </div>
          </div>

          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="amount">Amount</label>
            <input
              v-validate="'required|decimal:5'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('amount') }"
              name="amount"
              type="text"
              placeholder="0.00"
              v-model="post.offer.cost"
            >
            <small class="db f7 lh-copy black-60 mt2">
              Enter a currency amount you want to charge for your work or skill! E.x.: 0.005BTC. Put 0 for free!
            </small>
            <div v-show="errors.has('amount')" class="db f7 lh-copy red mt2">
              We're still thinking about how to improve this. For now you can enter up to 5 decimal places 🙏
            </div>
          </div>

          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="per">Per hour or project</label>
            <div class="dib w-100 relative ba b--black-20 br2 overflow-hidden">
              <div class="dib relative w-100" v-for="(per, index) in perTypes" :key="index">
                <input type="radio" name="per" :id="per.key" :value="per.key" :key="per.key" class="dib" v-model="post.offer.per">
                <label :for="per.key" class="dib relative w-100 h-100 pa3 f6 fw5 navy bw2">
                  {{ per.name }}
                </label>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="db relative mv3">
          <button class="f5 b ph4 pv3 bg-light-green br3 pointer link shadow-light navy hover-blue grow" type="submit" :disabled="disableForm || errors.items.length > 0">
            Submit post
          </button>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import PictureInput from 'vue-picture-input'
import firebase from 'firebase'

export default {
  name: 'create',
  components: { PictureInput },
  created () {
    window.scrollTo(0, 0)
  },
  data () {
    return {
      disableForm: false,
      selectedCurrency: null,
      currencies: [
        {
          key: 'btc',
          name: 'BTC (Bitcoin)'
        },
        {
          key: 'eth',
          name: 'ETH (Ethereum)'
        },
        {
          key: 'xrp',
          name: 'XRP (Ripple)'
        },
        {
          key: 'cad',
          name: 'CAD (Canadian Dollars)'
        },
        {
          key: 'usd',
          name: 'USD (American Dollars)'
        }
      ],
      offerTypes: [
        {
          key: 'offering',
          name: 'Offering'
        },
        {
          key: 'wanted',
          name: 'Wanted'
        }
      ],
      perTypes: [
        {
          key: 'hour',
          name: 'Hour'
        },
        {
          key: 'project',
          name: 'Project'
        }
      ],
      post: {
        title: '',
        description: '',
        offer: {
          type: null,
          currency: null,
          cost: null,
          per: ''
        },
        disabled: false
      }
    }
  },
  methods: {
    pictureChange () {
      console.log('New picture selected!')
      if (this.$refs.pictureInput.image) {
        console.log('Picture loaded.')
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    submit () {
      const vm = this
      const file = vm.$refs.pictureInput.file

      vm.disableForm = true
      const post = vm.post
      const op = vm.$store.state.user

      vm.$validator.validateAll()
      .then((result) => {
        if (result) {
          vm.$auth.checkCurrentUser()
          .then((user) => {
            if (user && user.username) {
              let progress = 0
              vm.$Progress.start()

              if (file) {
                const storageRef = firebase.storage().ref(`/posts/${op.uid}/${encodeURIComponent(file.name)}`)
                const task = storageRef.put(file)

                task.on('state_changed',
                  // progress
                  (snapshot) => {
                    console.log('progress', snapshot)
                    progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
                    vm.$Progress.set(progress)
                  },
                  // error
                  (snapshot) => {
                    console.error('error', snapshot)
                  },
                  // complete
                  (snapshot) => {
                    // send post to db
                    console.log('complete', task.snapshot.downloadURL)
                    const postData = {
                      created: Date.now(),
                      image: task.snapshot.downloadURL,
                      title: post.title,
                      description: post.description,
                      disabled: post.disabled,
                      offer: post.offer,
                      op
                    }

                    if (task.snapshot.downloadURL) {
                      firebase.firestore()
                      .collection('posts')
                      .add(postData)
                      .then((docRef) => {
                        console.log(docRef)

                        // create this in comments
                        firebase.firestore()
                        .collection('comments')
                        .doc(docRef.id)
                        .set({})

                        // then redirect to the post view
                        vm.$router.push({
                          name: 'view', params: { id: docRef.id }
                        })
                      })
                      .catch((error) => {
                        const errorCode = error.code
                        const errorMessage = error.message
                        vm.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message: <pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
                      })
                    }
                  }
                )
              } else {
                const postData = {
                  created: Date.now(),
                  title: post.title,
                  description: post.description,
                  disabled: post.disabled,
                  offer: post.offer,
                  op
                }
                firebase.firestore()
                .collection('posts')
                .add(postData)
                .then((docRef) => {
                  console.log(docRef)

                  // create this in comments
                  firebase.firestore()
                  .collection('comments')
                  .doc(docRef.id)
                  .set({})

                  // then redirect to the post view
                  vm.$router.push({
                    name: 'view', params: { id: docRef.id }
                  })
                })
                .catch((error) => {
                  const errorCode = error.code
                  const errorMessage = error.message
                  vm.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message: <pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
                })
              }
            } else {
              this.$router.push({
                name: 'login'
              })
            }
            this.log()
            vm.$Progress.finish()
          })
        } else {
          vm.$modal.show('dialog', { title: 'Oh no... 😱', text: `Fill out the form and be sure to add an image even if you posting something you want!` })
          this.disableForm = false
        }
      })
    },
    log () {
      this.$ga.event({
        eventCategory: 'create',
        eventAction: 'completed_post',
        eventLabel: 'username',
        eventValue: this.$store.state.user.username
      })
    }
  }
}
</script>