<template>
  <div class="db center ma5 tc w-100 mw6-ns">
    <p class="f4 fw3 tracked dark-gray">
      {{ title || `Nothing to see here` }}
    </p>
    <p class="f6 fw4 gray lh-copy">
      {{ description || `Nothing here... Come back later or hit up bugs@cryptogigs.co if you suspect a bug...` }}
    </p>
    <router-link class="dib w-100 link dim underline f7 gray mt3" :to="{ name: ctaRoute || 'home' }">
      {{ ctaText || `Take me home` }}
    </router-link>
  </div>
</template>
<script>
export default {
  name: 'empty',
  props: {
    title: String,
    description: String,
    ctaRoute: String,
    ctaText: String
  }
}
</script>