<template>
  <div class="dib w-100 relative pv2 pv4-ns">
    <div class="dib w-100 relative ph3">
      
      <div class="db center relative w-100 mw8-ns ph3-ns">
        <p class="f4 fw5 navy pv0">
          As featured in
        </p>
        <ul class="list ma0 pa0">
          <li class="dib relative" v-for="featured in featuredLinks">
            <a :href="featured.link" class="dib f5 f4-ns fw4 db link navy o-80 hover-blue v-mid">
              {{ featured.name }}
            </a>
            <span class="dib v-mid mh2 pr1 tl slash">
              /
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      featuredLinks: [
        {
          name: 'Mashable',
          link: 'https://mashable.com/',
          description: 'Some description goes here'
        },
        {
          name: 'TechCrunch',
          link: 'https://techcrunch.com/',
          description: 'Some description goes here'
        },
        {
          name: 'Bloomberg',
          link: 'https://bloomberg.com/',
          description: 'Some description goes here'
        },
        {
          name: 'Bloomberg Business',
          link: 'https://business.bloomberg.com/',
          description: 'Some description goes here'
        },
        {
          name: 'Source',
          link: '#',
          description: 'Some description goes here'
        },
        {
          name: 'Source',
          link: '#',
          description: 'Some description goes here'
        },
        {
          name: 'Source',
          link: '#',
          description: 'Some description goes here'
        },
        {
          name: 'Source',
          link: '#',
          description: 'Some description goes here'
        },
        {
          name: 'Source',
          link: '#',
          description: 'Some description goes here'
        },
        {
          name: 'Source',
          link: '#',
          description: 'Some description goes here'
        }
      ]
    }
  }
}
</script>