<template>
  <header class="dib relative w-100">
    <div class="dib w-100 relative ph3 pv5 pv6-ns">
      
      <div class="db center relative w-100 mw8-ns ph3-ns">
        <h1 class="f2 f-subheadline-l b ma0 measure lh-title navy">
          Earn cryptocurrency
        </h1>
        <h2 class="f4 fw5 navy o-80 mb4">
          Your talents can earn you Bitcoin, Ethereum, Ripple and more.
        </h2>
        <router-link :to="{ name: 'create' }" class="link dim ph3 pv2 br3 f5 b bg-light-green navy">
          Post something
        </router-link>
      </div>

    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>
