<template>
  <div class="db center w-100 mw8-ns">
    <div class="dib w-100 relative ph3 pv3 pv5-ns f5">

      <div class="db center relative w-100 mw8-ns pa0 pa6-ns bg-washed-yellow-ns br2">
        <h1 class="f2 f-subheadline-l fw5 measure lh-title navy">
          Real simple privacy policy
        </h1>
        <h2 class="f4 fw5 navy o-80 mb4">
          We collect some data, not everything.
        </h2>

        <small class="dib w-100 f7 lh-copy black-60 mt2 mb3">
          Last updated: December 2017
        </small>

        <p class="lh-copy dark-gray">
          We know your privacy is important. This is the same reason we don't have any "social logins" but simply only email signups and logins. We collect your email which becomes part of your identity, we log your username which also becomes part of your identity and we store your photo if you chose to upload it.
        </p>

        <p class="lh-copy dark-gray">
          Outside of that we collect what pages you view, if you've logged in or signed up (duh!), and what kinds of offers are being sent or received. We <b>do not</b> track or look at or even care about the content of the messages you send. That's your business and if issues do come up report them to <a href="mailto:report@cryptogigs.co" class="link dim underline dark-gray">report@cryptogigs.co</a> with your request and issue.
        </p>

        <p class="lh-copy dark-gray">
          At no point are we planning to sell or profit off your data. <b>IF and when</b> we do we'll be as transparent as possible. While we can't predict the future we'll hold on to our values of creating connected, open markets as much as possible.
        </p>

        <p class="lh-copy dark-gray">
          Since we don't really have a legal team, we don't take responsibility of your actions whether explicit or implicit. It's up to you to watch out for yourself and we'll do our best to keep this product running as smoothly as possible. This may mean disabling or deleting users and removing posts on occasions which conflict with or may cause potential harm to us or other users.
        </p>

        <p class="lh-copy dark-gray">
          That's it! There's no other fine print.
        </p>
      </div>

    </div>
  </div>
</template>

<script>

export default {
  name: 'privacy',
  created () {
    window.scrollTo(0, 0)
  }
}

</script>