<template>
  <div class="db center w-100 mw8-ns">
    <div class="dib w-100 relative ph3 pv3 pv5-ns f5">

      <div class="db center relative w-100 mw8-ns pa0 pa6-ns bg-washed-green-ns br2">
        <h1 class="f2 f-subheadline-l fw5 measure lh-title navy">
          Set up your addresses
        </h1>
        <h2 class="f4 fw5 navy o-80 mb4">
          A step by step guide on setting up your wallet on Coinbase and adding your addresses to cryptogigs.co
        </h2>

        <small class="dib w-100 f7 lh-copy black-60 mt2 mb3">
          Last updated: December 2017
        </small>

        <p class="lh-copy dark-gray">
          For now while we are building our own wallets for your future transactions we encourage you to set up your own bitcoin or ethereum wallets and add them to your profile. In the near future we won't charge for transactions on the platform if you use our own internal wallet or you can continue using an external one from such sites as coinbase.
        </p>
        <p class="lh-copy dark-gray">
          The steps are the same on mobile as they are on the website.
        </p>

        <hr class="mh0 mv4 bw1 bb b--black-10 w3 db relative" />

        <strong>
          Step 1: Create an account on Coinbase.com
        </strong>
        <p class="lh-copy dark-gray">
          Create an account on <a href="https://www.coinbase.com/signup" target="_blank" class="link dim dark-gray underline">https://www.coinbase.com/signup</a>
        </p>
        <img class="bg-transparent dib w-100" :src="Step1">

        <strong>
          Step 2: Verify your Coinbase account via Email
        </strong>
        <p class="lh-copy dark-gray">
          Check the email you got from Coinbase to confirm and verify your account. This is important and cannot be skipped.
        </p>
        <img class="bg-transparent dib w-100" :src="Step2">

        <strong>
          Step 3: Add a phone number
        </strong>
        <p class="lh-copy dark-gray">
          For Coinbase, there is a mandatory phone verification step. You must complete this before you can see or access your wallets; Bitcoin, Ethereum or Litecoin at the time this was written.
        </p>
        <img class="bg-transparent dib w-100" :src="Step3">

        <strong>
          Step 4: Click on Buy/Sell
        </strong>
        <p class="lh-copy dark-gray">
          You can use this to load wallets. Fair warning though: The transaction costs on Coinbase are pretty high. Though we hope you'll be using cryptogigs.co to earn BTC or ETH or LTC instead of buying it 😏
        </p>
        <img class="bg-transparent dib w-100" :src="Step4">

        <strong>
          Step 5: Click receive on any wallet
        </strong>
        <p class="lh-copy dark-gray">
          When you press receive you'll see the wallet addresses which you can input on your profile on cryptogigs.co
        </p>
        <img class="bg-transparent dib w-100" :src="Step5">

        <strong>
          Step 6: Click show address
        </strong>
        <p class="lh-copy dark-gray">
          When you click show address you'll have to confirm once again to actually show the wallet address. This unique identifier is what you need to use to receive payments for the specified wallet currency, ie: bitcoin.
        </p>
        <img class="bg-transparent dib w-100" :src="Step6">

        <strong>
          Step 7: View and copy the address
        </strong>
        <p class="lh-copy dark-gray">
          Now that you can view your address, hit the copy button or manually copy this uniquer identifier.
        </p>
        <img class="bg-transparent dib w-100" :src="Step7">

        <strong>
          Step 8: Login to your cryptogigs.co profile
        </strong>
        <p class="lh-copy dark-gray">
          Head over to your profile on cryptogigs.co and press <router-link :to="{ name: 'addresses' }" class="link dim dark-gray underline">Add and manage addresses</router-link>. Here you can input or remove wallet addresses.
        </p>
        <img class="bg-transparent dib w-100" :src="Step8">

        <strong>
          Step 9: Add addresses
        </strong>
        <p class="lh-copy dark-gray">
          Add the address or addresses you have copied from the steps above via Coinbase. These addresses are added to your profile and only you can see them.
        </p>
        <img class="bg-transparent dib w-100" :src="Step9">

        <strong>
          Step 10: View address
        </strong>
        <p class="lh-copy dark-gray">
          Now that you've added an addresses or multiple addresses they'll show up on your profile. You can click on these which will show a dialog for you to copy and paste your address within chats or however you choose.
        </p>
        <img class="bg-transparent dib w-100" :src="Step10">

        <strong>
          Step 11: Copy address
        </strong>
        <p class="lh-copy dark-gray">
          You can hold down on the address to copy it or double click/tap. Paste this address within chats when you want to receive payment on an agreed upon transaction.
        </p>
        <img class="bg-transparent dib w-100" :src="Step11">

        <hr class="mh0 mv4 bw1 bb b--black-10 w3 db relative" />

        <p class="lh-copy dark-gray">
          That's it! You're done setting up addresses.
        </p>
      </div>

    </div>
  </div>
</template>

<script>
import Step1 from './../../assets/images/setup/1.png'
import Step2 from './../../assets/images/setup/2.png'
import Step3 from './../../assets/images/setup/3.png'
import Step4 from './../../assets/images/setup/4.png'
import Step5 from './../../assets/images/setup/5.png'
import Step6 from './../../assets/images/setup/6.png'
import Step7 from './../../assets/images/setup/7.png'
import Step8 from './../../assets/images/setup/8.png'
import Step9 from './../../assets/images/setup/9.png'
import Step10 from './../../assets/images/setup/10.png'
import Step11 from './../../assets/images/setup/11.png'

export default {
  name: 'setup',
  created () {
    window.scrollTo(0, 0)
    this.Step1 = Step1
    this.Step2 = Step2
    this.Step3 = Step3
    this.Step4 = Step4
    this.Step5 = Step5
    this.Step6 = Step6
    this.Step7 = Step7
    this.Step8 = Step8
    this.Step9 = Step9
    this.Step10 = Step10
    this.Step11 = Step11
  }
}

</script>