<template>
  <div class="db center w-100 mw8-ns">
    <div class="dib w-100 relative ph3 pv3 pv5-ns f5">

      <div class="db center relative w-100 mw8-ns pa0 pa6-ns bg-washed-yellow-ns br2">
        <h1 class="f2 f-subheadline-l fw5 measure lh-title navy">
          Real simple terms of service
        </h1>
        <h2 class="f4 fw5 navy o-80 mb4">
          Just don't be a jerk or try to scam people and we'll all be fine
        </h2>

        <small class="dib w-100 f7 lh-copy black-60 mt2 mb3">
          Last updated: December 2017
        </small>

        <p class="lh-copy dark-gray">
          There are no "strict" rules around how this platform should be used. If you feel that there should be then create a post and discuss amongst yourselves. We'll be keeping an eye on the platform to see how it grows and evolves but for the time being we ask that you not post the following kinds of items:
        </p>

        <ul class="dib w-100 mt3 mh0 pa0 list dark-gray bg-white shadow-light pa4 pa5-ns br2">
          <li class="pv3 bb b--black-10">
            Firearms
          </li>
          <li class="pv3 bb b--black-10">
            Sexual services or favors –– We're all up for supporting legitimate business including sex workers but the nature is we do have to comply as much as possible with laws and regulations in your country, state or province.
          </li>
          <li class="pv3 bb b--black-10">
            Drugs (unless legal in your and the other party's country, province or state)
          </li>
          <li class="pv3 bb b--black-10">
            Alcohol –– especially not to minors
          </li>
          <li class="pv3 bb b--black-10">
            Pornography or pornographic materials
          </li>
          <li class="pv3">
            Anything which may cause harm to fellow users
          </li>
        </ul>

        <p>
          Inevitably there will be trolls, and while we'll try to do our best to keep things in order and running smooth we ask that you report posts or users with malicious intent which shouldn't be here via <a href="mailto:report@cryptogigs.co" class="link dim underline dark-gray">report@cryptogigs.co</a>.
        </p>

        <p class="lh-copy dark-gray">
          That's it! There's no other fine print.
        </p>

      </div>

    </div>
  </div>
</template>

<script>

export default {
  name: 'privacy',
  created () {
    window.scrollTo(0, 0)
  }
}

</script>