<template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative cover ph3 pv3 pv6-ns">

      <form class="db w-100 mw6-ns br2 center"
          @submit.prevent="submit()"
        >
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f2 f-subheadline-l fw5 measure lh-title navy">
            Sign In
          </legend>
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="email">Email</label>
            <input
              v-validate="'required|email'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('email') }"
              name="email"
              type="email"
              placeholder="ex: login@cryptogigs.co"
              v-model="credentials.email"
            >
            <div v-show="errors.has('email')" class="db f7 lh-copy red mt2">
              To login we need your email (doh!) 🍩
            </div>
          </div>
          <div class="mt4">
            <label class="db lh-copy f6 mb2 navy" for="password">Password</label>
            <input
              v-validate="'required|min:6'"
              :class="{'f5 pa3 input-reset ba bg-transparent w-100': true, 'b--red': errors.has('password') }"
              name="password"
              type="password"
              placeholder="password please"
              v-model="credentials.password"
            >
            <div v-show="errors.has('password')" class="db f7 lh-copy red mt2">
              Please enter a password! 😱
            </div>
          </div>
          <!-- <label class="pa0 ma0 lh-copy f6 pointer"><input type="checkbox"> Remember me</label> -->
        </fieldset>

        <div class="db relative mv3">
          <button class="f5 b ph4 pv3 bg-light-green br3 pointer link shadow-light navy hover-blue grow" type="submit" :disabled="disableForm || errors.items.length > 0">
            Sign in
          </button>
        </div>

        <div class="lh-copy mt4 gray">
          <router-link to="signup" class="f6 link dim gray dib v-mid underline">Sign up</router-link>
          &nbsp;//&nbsp;
          <router-link to="forgot" class="f6 link dim gray dib v-mid underline">Forgot your password?</router-link>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      disableForm: false,
      credentials: {
        email: '',
        password: ''
      },
      loggingIn: false
    }
  },
  methods: {
    submit () {
      // console.log(this.$route.query)
      let redirect = 'home'
      if (this.$route.query && this.$route.query.redirect) {
        redirect = this.$route.query.redirect
      }

      this.$validator.validateAll().then((result) => {
        this.$Progress.start()
        if (result) {
          this.disableForm = true
          const creds = {
            email: this.credentials.email,
            password: this.credentials.password
          }

          // Complete signup
          this.$Progress.finish()
          this.$auth.login(creds, redirect)
          .catch((error) => {
            this.disableForm = false
            const errorCode = error.code
            const errorMessage = error.message
            if (error) {
              // console.log(error)
              this.loggingIn = false
              // this.error = utils.getError(response)
              if (errorCode === 'auth/user-not-found') {
                this.$router.push({
                  name: 'signup',
                  query: {
                    email: encodeURIComponent(this.credentials.email)
                  }
                })
              } else if (errorCode === 'auth/wrong-password') {
                this.$modal.show('dialog', { title: 'Wrong password... 🔑', text: `It happens to the best of us. Try entering your password. We're sure you'll get it this time!` })
              } else {
                this.$modal.show('dialog', { title: 'Oh no... 😱', text: `Something went wrong, please email bugs@cryptogigs.co with the message: <pre class="dib w-100 relative ws-normal bg-near-white pa3 mt3 mb0">Error code: ${errorCode} <br /> <br /> Message: ${errorMessage}</pre>` })
              }
            }
          })
        }
      })
    }
  }
}
</script>