<template>
  <article class="dib relative gig v-top shadow-light overflow-hidden br2" :class="[ maxColumns === '1' ? 'profile mb3 mb4-ns' : 'mb3 mt0 ma3-ns' ]">

    <router-link class="link navy hover-blue" :to="{ name: 'view', params: { id: gig.id } }">
      <span class="dib w-100 relative gig-image">
        <span class="absolute top-0 left-0 ph2 pv1 br-pill f7 b ttu" :class="[ maxColumns === '1' ? 'ma3 ma4-ns' : 'ma3', gig.offer.type === 'offering' ? 'bg-lightest-blue navy' : 'bg-light-purple white' ]">
          {{ gig.offer.type }}
        </span>
        <img :src="gig.image" class="dib w-100" alt="gig.title" v-if="gig.image" />
        <img :src="PlaceholderImage" class="dib w-100" alt="gig.title" v-else />
      </span>

      <span class="dib relative w-100 gig-content" :class="[ maxColumns === '1' ? 'pa3 pa4-ns mb3 mb2-ns' : 'pa3' ]">
        <span class="dib w-100 mv1">
          <p class="f4 fw5 mv0 dib relative w-100 overflow-hidden truncate">
            {{ gig.title }}
          </p>
          <p class="f6 fw5 tracked mv2 dib relative w-100 gray overflow-hidden truncate ttu">
            {{ gig.offer.cost === '0' || !gig.offer.cost ? 'Free' : gig.offer.cost }} {{ gig.offer.currency }}/{{ gig.offer.per }}
          </p>
        </span>

        <p class="f6 lh-copy mv0 dark-gray">
          {{ gig.description | truncate(280) }}
        </p>
      </span>
    </router-link>

    <router-link class="dib w-100 relative link dim pa3 mb1" :to=" { name: 'profile', params: { username: gig.op.username } } " v-if="showOp">
      <span class="dib relative tc v-mid mr2">
        <img :src="gig.op.photoURL" class="dib relative br-100 h2 w2" alt="avatar" v-if="gig.op.photoURL && gig.op.photoURL !== ''" />
        <img :src="PlaceholderImage" class="dib relative br-100 h2 w2" alt="avatar" v-else />
      </span>
      <span class="dib relative w-80 tl v-mid dark-gray f6 truncate overflow-hidden">
        {{ gig.op.username }}
      </span>
    </router-link>

  </article>

</template>

<script>
import Vue from 'vue'
import VueTruncate from 'vue-truncate-filter'
import PlaceholderImage from './../../assets/images/placeholder.png'
Vue.use(VueTruncate)

export default {
  props: {
    gig: {
      type: Object
    },
    maxColumns: {
      type: String
    },
    showOp: {
      type: Boolean
    }
  },
  data () {
    return {
      PlaceholderImage
    }
  }
}
</script>