<template>
  <div class="dib relative w-100">
    <div class="dib w-100 relative cover pa3">
      <div class="db center relative w-100 mw8-ns">
        <p class="f7 f6-ns fw5 tracked ttu ph0 ph3-ns mt2 mt3-ns mb3 mb0-ns dark-gray">
          Recently active
        </p>

        <empty v-if="loaded && !gigs || loaded && gigs.length === 0"
          title="No posts... 🕵️"
          description="Looks like we're having some problems loading posts or by some off chance all posts have been removed then there are indeed no posts."
          ctaRoute="create"
          ctaText="Psstt.. you can create a post here... don't tell anyone 🤐">
        </empty>
        
        <div v-if="loaded">
          <Gig v-for="gig in gigs" :gig="gig" :key="gig.id" :max-columns="maxColumns" show-op></Gig>
        </div>

        <div class="dib w-100 relative" v-else>
          <article class="dib relative gig v-top overflow-hidden br2 mb3 ma3-ns" v-for="placeholder in 3">
            <span class="dib w-100 placeholder placeholder--dark h5">
              <span class="dib w-100 relative gig-image">
                &nbsp;
              </span>
            </span>
            <span class="dib relative w-100">
              <span class="dib w-100 mv1">
                <p class="f4 fw5 mv0 dib relative w-100 overflow-hidden placeholder placeholder--dark">
                  &nbsp;
                </p>
                <p class="f6 fw5 tracked mv2 dib relative w-100 gray overflow-hidden ttu placeholder placeholder--dark">
                  &nbsp;
                </p>
              </span>
              <p class="f6 lh-copy mv0 dark-gray placeholder placeholder--dark">
                &nbsp;
                <br />
                &nbsp;
              </p>
            </span>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Gig from './Gig.vue'
import Empty from './../common/Empty.vue'
import firebase from 'firebase'

export default {
  components: { Gig, Empty },
  props: ['maxColumns'],
  created () {
    this.getGigs()
  },
  mounted () {
    this.$Progress.start()
  },
  data () {
    return {
      loaded: false,
      gigs: []
    }
  },
  methods: {
    getGigs () {
      firebase.firestore()
      .collection('posts')
      .orderBy('created', 'desc')
      .where('disabled', '==', false)
      .get().then((querySnapshot) => {
        // console.log(querySnapshot)
        if (!querySnapshot.empty) {
          // console.log(querySnapshot.docs)
          this._.each(querySnapshot.docs, (post, index) => {
            const postData = post.data()
            const postId = querySnapshot.docs[index].id
            // console.log(postData)
            this.gigs.push({
              id: postId,
              title: postData.title,
              description: postData.description,
              image: postData.image,
              offer: postData.offer,
              op: postData.op
            })
          })
        }
        setTimeout(() => {
          this.loaded = true
        }, 500)
        this.$Progress.finish()
      })
      .catch((error) => {
        console.log(error)
        this.$modal.show('dialog', { title: 'Oh no... 😱', text: `Yikes... looks like we're having some issues with our servers or something to that effect. Stay tuned or reach out to bugs@cryptogigs.co` })
      })
    }
  }
}
</script>